/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/
/_ios/

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc

CS_beacon.md

node_modules/
SampleCode/
# CloudBase.*
Dev.md